
        
		<h3>
			MVC Passwort Manager
		</h3>

		<p>Der MVC Passwort Manager ist eine Java FX Anwendung, welche ich im Rahmen des Software Engineering 2 Kurses als Beispielanwendung für das MVC Pattern erstellt habe.</p>

		<p>Als Vorlage diente das  Application Framework aus der Vorlesung von Prof. Dr. Brad Richards, sowie mein eigener, vor längerer Zeit erstellter, Passwort Manager.</p>

		<h3><a id="ziele" class="anchor" href="#ziele" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Ziele</h3>

		<p>Mit der Anwendung MVC Passwort Managers wurden mehrere Ziele verfolgt:</p>

		<ul>
		<li>das Application Framework von  Prof. Dr. Brad Richards kennen zulernen</li>
		<li>den im Unterricht behandelten Stoff zu repetieren</li>
		<li>Erfahrungen für das IT Projekt sammeln</li>
		<li>Bonuspunkte für die Abschlusprüfung erhalten</li>
		</ul>

		<h3><a id="Authoren" class="anchor" href="#Authoren" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Authoren</h3>

		<ul>
		<li>Prof. Dr. Brad Richards für das zugrunde liegende Framework</li>
		<li>Daniel Hirsbrunner zur Implementierung des Passwort Managers</li>
		</ul>